<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <title>Login</title>
</head>
<body>
    <div class="form-container">
        <div class="center">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <div class="txt_field">
                    <label>Username</label>
                    <input type="text" placeholder="Username" name="username" required>
                    <span></span>
                </div>
                <div class="txt_field">
                    <label>Password</label>
                    <input type="password" placeholder="Password" name="password" required>
                    <span></span>
                </div>
                <div class="pass">Forget Password?</div>
                <button type="submit" class="cta-button">Login</button>
                <div class="register_link">
                    Not a Member ? <a href="register.html">Register</a>
                </div>
            </form>

        </div>
    </div>
</body>
</html>
